@page "/mycomponent"

<h3>MyComponent</h3>

<div>
    <input placeholder="Name" @bind=@Name />
    <input placeholder="LastName" @bind=@LastName />
    <button @onclick=@AddPersona> Add Person</button> 
</div>



@if(P1 != null)
{
  <table>
  @foreach(var persona in P1)
    {
      <tr> 
          <td>@persona.FirstName </td>
          <td>@persona.LastName </td>
      </tr>
    }
  </table>
}



@code {


    private string Name = "Alejandro";
    private string Message = "Este es un componente creado por mi....";
    private string LastName = "";
    

    private List<Models.Persona> P1 = new ();

    protected override async Task OnInitializedAsync()
    {
      getPersonaData();
    }


    private void getPersonaData()
    {
        P1.AddRange( new List<Models.Persona>{
            new Models.Persona{FirstName="Sergio", LastName="Sopelana"},
            new Models.Persona{FirstName="Alejandro ", LastName="Paso"},
            new Models.Persona{FirstName="Jon", LastName="Cruz"},
            new Models.Persona{FirstName="Juan", LastName="De Tal"}
        });
        
    }

    private void AddPersona()
    {
        P1.Add(new Models.Persona
        {
            FirstName = Name,
            LastName = LastName
        });
    }

}
