@page "/mycomponent"

<h3>MyComponent</h3>

@if(P1 != null && P1.Any())
{
    <table>
    @foreach(var item in P1)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
    }
    </table>
}

@code {
    private string Name = "Alejandro";
    private string Message = "Este es un componente creado por mi....";

    private List<Models.Persona> P1 = new List<Models.Persona>();

    protected override async Task OnInitializedAsync()
    {
        await getPersonaData();
    }

    private Task getPersonaData()
    {
        P1.AddRange(new List<Models.Persona>{
            new Models.Persona{FirstName="Sergio", LastName="Sopelana"},
            new Models.Persona{FirstName="Alejandro ", LastName="Paso"},
            new Models.Persona{FirstName="Jon", LastName="Cruz"},
            new Models.Persona{FirstName="Juan", LastName="De Tal"}
        });

        return Task.CompletedTask;
    }
}

